body 
{
    background-image:url("../imagenes/m1.jpg"); 
    background-attachment: fixed; 
    background-repeat: no-repeat;
    background-size: cover;  
}

header
{
    background-color: rgba(253, 254, 254, 0.7);
    margin-left: 10px ; margin-right: 10px; margin-bottom: 0.2%;      
}

h1
{
    padding-top: 1%;
    font-size: 400%;
    color:#1ABC9C;
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;        
}

h1:hover
{
    color: #0d866e;
}

.principal
{
    text-align: center ;
    color: #117864;
    font-size: 200%;
    padding-bottom: 1%;
}

nav
{
    background-color: #1ABC9C ; opacity: 70%;
    margin-left: 10px ; margin-right: 10px;
    height: 60px;
    overflow: auto;
    box-sizing: border-box;
}

nav ul li
{
float: left;
margin-left: 2% ;
padding-left: 2%;
display: inline-flex; list-style:none;
}

.link
{
    color:black;
    text-decoration: none;
}

.link:hover
{
    border-bottom: black solid;
}

section
{
    float: left;
    width: 68%;
    background-color: rgba(253, 254, 254, 0.7);
    margin-left: 1% ; margin-right: 1%; margin-bottom: 2%;
    padding-right: 1%;
    overflow: auto;
}

section::before
{
    content: "La pisca andina tiene muchos estilos y versiones y podría decirse que todos son correctos, sin embargo aquí les dejo la receta tradicional y les invito a probarla";
}

::before
{
    font-style: italic;
    font-weight: bold;
    font-size:120% ;
}

p
{
    margin-left: 3%;
    font-size: 150%;
    text-align: justify;
}

h2
{
    text-decoration: underline;
    font-size: 150%;
    margin-left: 3%;
}

h2:hover
{
    font-size: 170%;
}

ul
{
    font-size: 130%;
    margin-left: 3%;
}

ol
{
    font-size: 130%;
    margin-left: 3%;
}

iframe
{
  margin-left: 3%;
  padding-bottom: 2%;
}

ol::after
{
    content: "Consejo: Al servir, añadir cuadritos de queso ahumado o queso fresco.";
}

::after
{
    text-align: center;
    padding-left: 12%;
    font-style: italic;
    font-weight: bold;
    animation-duration: 10s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }


aside
{
    width: 28%;
    float: left; float: inline-start;
    text-align: center;
    background-color: rgba(253, 254, 254, 0.7); 
    overflow: auto;
    box-sizing: border-box;
}

img 
{
    padding-top: 10%;
    width: 80%;
    margin-bottom: 5%;
    transition: ease-in 1s; 
}

img:hover
{
    width: 100%;
}

audio
{
    height: 15px;
    position: center;
    padding-top: 10px;
}

video
{
    width: 80%;
}

footer
{
    display:flex;
    background-color:  #117864 ;
    clear: both;
    align-items: center;
    height: 65px;
    overflow: auto;
    box-sizing: border-box;
    margin-left: 10px ; margin-right: 10px;
}

.logos
{
    display: flex;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 45%;
}

.fb
{
    width: 35px;
    margin-right: 20px;
    margin-top: 8px;
}

.fb:hover
{
    width: 40px;
}

.ig 
{
    width: 40px;
    margin-right: 10px;
    margin-top: 6px;
}

.ig:hover
{
    width: 45px;
}

.twt
{
    width: 50px; 
}

.twt:hover
{
    width: 55px;
}

.autor
{
   margin-left: 25%;
   font-size: 80%;
   margin-right: 2%;
}

.autor:hover
{
    font-size: 100%;
}

.wimg
{
    width: 80px;
    position: fixed;
    top: 80%;
    right: 2%;
}

.wimg:hover
{
    width: 90px;
}

