@font-face 
{
    font-family: Antiqua;
    src: url(../fuentes/ANTQUAB.TTF)
    format("truetype");
}

body 
{
    background-image:url("../imagenes/m1.jpg"); 
    background-attachment: fixed; 
    background-repeat: no-repeat;
    background-size: cover;  
}

header 
{
    background-color: rgba(253, 254, 254, 0.7);
    margin-left: 10px ; margin-right: 10px; margin-bottom: 0.2%;      
}

h1 
{
    padding-top: 1%;
    font-size: 5rem;
    color:#1ABC9C;
    text-align: center;
    font-family: Antiqua;        
}

h1:hover 
{
    color: #0d866e;
}

.principal 
{
    text-align: center;
    color: #117864;
    font-size: 2.5rem;
    padding-bottom: 1%;
}

nav 
{
    background-color: rgba(26, 188, 156, 0.7);
    margin-left: 10px ; margin-right: 10px;
    height: 9vh;
    box-sizing: border-box;
}

nav ul li 
{
float: left;
margin-left: 2% ;
padding-left: 2%;
display: inline-flex; list-style:none;
}

.link {
    color:black;
    text-decoration: none;
}

.link:hover 
{
    border-bottom: black solid;
    background-color: #0d866e;
}


section 
{
    float: left;
    width: 55vw;
    background-color: rgba(253, 254, 254, 0.7);
    margin-left: 10px ; margin-right: 1%; margin-bottom: 2%;
    padding-right: 1%;
    box-sizing: border-box;
    overflow: auto;
}

section::before
{
    content: "La pisca andina tiene muchos estilos y versiones y podría decirse que todos son correctos, sin embargo aquí les dejo la receta tradicional y les invito a probarla";
}

::before
{
    font-style: italic;
    font-weight: bold;
    font-size:1.2rem ;
}

p
{
    width: 50vw;
    margin-left: 3%;
    font-size: 1.5rem;
    text-align: justify;
}

h2
{
    text-decoration: underline;
    font-size: 2rem;
    margin-left: 3%;
}

ul
{
    width: 50vw;
    font-size: 1.5rem;
    margin-left: 3%;
}

ol
{
    width: 50vw;
    font-size: 1.5rem;
    margin-left: 3%;
}

iframe
{
    margin-left: 3%;
    padding-bottom: 2%;
}

ol::after
{
    content: "Consejo: Al servir, añadir cuadritos de queso ahumado o queso fresco.";
}

::after
{
    text-align: center;
    padding-left: 12%;
    font-style: italic;
    font-weight: bold;
    animation-duration: 10s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }


aside
{
    width: 40vw;
    float: left; float: inline-start;
    text-align: center;
    background-color: rgba(253, 254, 254, 0.7); 
    overflow: auto;
    box-sizing: border-box;
}

img 
{
    padding-top: 10%;
    width: 38vw;
    margin-bottom: 5%;
}

.pisca
{
    transition: ease-in 1s; 
}

.pisca:hover
{
    width: 100%;
}

audio
{
    width: 38vw;
    height: 15px;
    position: center;
    padding-top: 10px;
}

video
{
    width: 38vw;
}

footer
{
    display:flex;
    background-color:  #117864 ;
    clear: both;
    align-items: center;
    height: 8vh;
    box-sizing: border-box;
    margin-left: 10px ; margin-right: 10px;
}

.logos
{
    display: flex;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 45%;
}

.fb
{
    width: 2vw;
    margin-right: 20px;
    margin-top: 8px;
}

.fb:hover
{
    width: 3vw;
}

.ig 
{
    width: 2.5vw;
    margin-right: 10px;
    margin-top: 6px;
}

.ig:hover
{
    width: 3.5vw;
}

.twt
{
    width: 3vw; 
}

.twt:hover
{
    width: 4vw;
}

.autor
{
   margin-left: 25%;
   font-size: 0.8rem;
   margin-right: 2%;
}

.wimg
{
    width: 5vw;
    position: fixed;
    top: 80%;
    right: 2%;
}

.wimg:hover
{
    width: 5.5vw;
}

